.certifContainer {
    text-align: center !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

.certif {
    width: 75%;
    max-width: 900px;
    box-shadow: 10px 10px 0px 0px #8fd2ff, 20px 20px 0px 0px #bbe0ff, -10px -10px 0px 0px #bbe0ff, 30px 5px 15px 4px rgba(0,0,0,0);
    transition: boxshadow 1s;
}

.certif:hover {
    box-shadow: 10px 10px 0px 0px #bbe0ff, 20px 20px 0px 0px #8fd2ff, -10px -10px 0px 0px #8fd2ff, 30px 5px 15px 4px rgba(0,0,0,0);
}