@font-face {
    font-family: "PoppinsLight";
    src: url("../fonts/poppins-italic-webfont.woff") format("woff");
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2");
}

.historyContainer {
    margin-bottom: 10%;
}

.historyContainer > h2 {
    margin-bottom: 3%;
    font-family: "PoppinsLight", sans-serif;
}

.histDiv {
    width: 120px;
    height: 20px;
    padding: 0;
    margin-left: 10px;
    margin-top: 0;
    right: 4vw;
}

.histButton {
    font-size: 35px;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.buttonText > p {
    opacity: 0;
    transition: opacity 1s;
    font-size: 1em;
    padding: 0;
    margin: 0;
    background: transparent;
}

@media screen and (max-width: 1100px) {
    .buttonText > p {
        opacity: .5;
        font-size: 1em;
        padding: 0;
        margin: 0;
        background: transparent;
    }
}

@media (hover: hover) {
    .buttonText:hover > p {
        opacity: 1;
    }
}

.historyText {
    margin-top: 15%;
}

.jobs {
    margin: 50px;
}